<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlockStation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlockStation.Properties.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BlockStation.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="SaveLastServer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateTimer" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="LastServerDir" serializeAs="String">
                <value />
            </setting>
        </BlockStation.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <BlockStation.Properties.App>
            <setting name="Version" serializeAs="String">
                <value>0.9.1</value>
            </setting>
            <setting name="VersionText" serializeAs="String">
                <value>Alpha</value>
            </setting>
            <setting name="Build" serializeAs="String">
                <value>201510270</value>
            </setting>
        </BlockStation.Properties.App>
    </applicationSettings>
</configuration>